import './css.css';
import React from "react";
import List from "./List.js";

export default class FilteredList extends React.Component {
    constructor() {
        super(arguments);
        this.state = {
            items: [ ... ],
            filter: ''
        };
    }

    filter(event) {
        this.setState({filter: event.target.value.toLowerCase()});
    }

    render() {
        const items = this.state.items.filter((item) => {
            return item.toLowerCase().search(
                this.state.filter
            ) !== -1;
        });

        return (
            <div className="filter-list">
                <input type="text" onChange={this.filter.bind(this)}/>
                <List items={items}/>
            </div>
        );
    }
}